@import 'setting';
.banner-img-coro-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.banner-img-coro{
    margin: 0.4em;
    width: 96vw;
    border-radius: 10px;
    height: 500px;
    object-fit: cover;
    background-image: url('/img/coro/CS\ Banner1.png');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    
    
}

main{
    display: grid;
    justify-content: center;
    
    section{
        
        width: 80vw;
        margin: 1em;
        
        article{
            p{
                text-align: justify;
                line-height: 1.5pc;
                letter-spacing: 0.1pc;
            }
        }
        
    }
    .line-hr{
        width: 100%;
    }
    .voices{
        .voices-container{
            .voices-title{
                color: var(--color-title);
            }
            .voices-items-container{
                display: grid;
                grid-template-columns: auto auto;
                gap: 1em;
                .voices-items{
                    .voices-name-section{
                        color: var(--color-heading);
                        text-shadow: 0 0 1px ;
                        
                    }
                    ol{
                        padding-left: 0.5em;
                        .voices-item {
                            list-style: none;
                            line-height: 2pc;
                            
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    
}
@media (max-width: 768px){
    .banner-img-coro-container{
        width: 100%;
        
        
        
        background-size: cover;
        background-position: center 40%;
        background-repeat: no-repeat;
        .banner-img-coro{
            height: 350px;
        }
    }
    
}