//font-family indie flower,roboto
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
}

html{
    
    /***********Colores************/
    //COLORES GENERALES
    //backgrounds
    --bg: rgb(220, 220, 220);
    --border: rgba(29, 29, 29, 0.281);
    //menu

    --webname-text: #f8ae02;
    --webname-text-span: #7e7e7e;
    --icon-menu: rgb(41, 41, 41);
    --bg-menu: rgb(255, 255, 255);
    --bg-text-menu: #131313;
    --color-shadow-menu: rgb(172, 172, 172);

    //submenu
    --bg-submenu: #fff;
    --color-text-submenu: rgb(17, 17, 17);
    //menu-modified
    --bg-menu-modified: rgb(247, 247, 247);
    //general
    --color-heading: #fc7b30;
    --color-text: #333333;
    --color-title: #303030;
    
    //section-social-media
    --bg-color-section-SM: #c9a817;

    //footer
    --bg-footer: #2D343F;
    --bg-footer-color-copyright-container: #363f4e;
    --color-text-footer: rgb(252, 252, 252);
    //COLORES MAIN


    
}
html[darkMode]{
    //Colores

    /*#e4ad2c*/

    --bg: #2d343f;
    --border: rgba(228, 228, 228, 0.123);
    
    //menu
    --webname-text-span: #bdbdbd;
    --icon-menu: rgb(219, 219, 219);
    --bg-menu: #4f5a70;
    --bg-text-menu: #fffefe;
    --color-shadow-menu: rgb(0, 0, 0);

    //submenu
    --bg-submenu: #2d343f;
    --color-text-submenu: rgb(245, 245, 245);

    //menu-modified
    --bg-menu-modified: #4f5a70;


    --color-heading: #e4ad2c;
    --color-text: #f1f1f1;
    --color-title: #ebebeb;
    
    --bg-color-section-SM: #363f4d;
    
}
body{
    -webkit-scrollbar-thumb: 10px;
    letter-spacing: .09pc;
    word-spacing: .1pc;
}